.perfil{
  padding-bottom: 40px;
}

.perfil-content{
  width: 100%;
  min-width: 850px;
  border: 1px solid white;
  color: white;
  padding: 1rem;
  margin-top: 20px;
}

.perfil-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.perfil-content h3{
  padding: 15px 0px;
  font-size: 1.2rem;
}

.perfil-user{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #f3f3f3;
  margin: 0 auto;
  overflow: hidden;
}

.perfil-grid{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.perfil-user img{
  object-fit: cover;
}


.perfil-edit{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.perfil-edit:last-child{
  border-bottom: unset;
}