.cartaz {
  display: flex;
  align-items: flex-end;
  height: 300px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: 10px 10px 40px 3px rgba(0, 0, 0, 0.75);
  font-family: "Segoe UI", sans-serif;
  margin: 0 auto;
  animation: animaOpacity .5s ease-in forwards;
  @media (min-width: 620px) {
    margin: unset;
  }

  &:hover,
  &:focus {
    .cartazDescription {
      display: flex;
      flex-direction: column;
      animation: animaOpacity 0.8s ease-in forwards;
    }
    .cartazFilter {
      animation: fromRight .5s ease-in-out forwards;
      animation-play-state: running; 
      opacity: 1;
    }
  }
  
}

.cartazFilter {
  display: flex;
  position: absolute;
  right: -305px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: flex-end;
  padding: 5px 5px 0 0;
  animation: toRight .5s ease-in-out,
  animaOpacity .3s ease-in reverse;
  // animation-play-state: paused; 
}

.cartazDescription {
  font-size: 0.9rem;
  display: none;
  width: 100%;
  padding: 10px;
  z-index: 10;
  color: white;

  article {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  label {
    letter-spacing: 0.5px;
    font-size: 0.7rem;
    color: #e3e3e3;
  }
  p {
    font-size: 0.7rem;
  }

  .cartazTitle {
    overflow: hidden;
    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 150px;
    }
  }
}

@keyframes heightFullRadius {
  to {
    width: 100%;
    height: 100%;
    border-radius: unset;
    top: 0;
    left: 0;
  }
}

@keyframes animaOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fromRight {
  from {
    right: -305px;
  }
  to {
    right: 0px;
  }
}

@keyframes toRight {
  from { right: 0px; }
  to { right: -305px; }
}
