.topSection {
  display: flex;
  align-items: center;
  padding: 10px 0 40px 0;
  width: 100%;
  font-family: "Segoe UI";
  text-align: center;

  @media (min-width: 920px) {
   text-align: left;
  }

  .topGrid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .topContent {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 920px) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
}
