.wrapper-login{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 450px;
}

.wrapper-login__items{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.footer-login{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-nav{
  color: white;
  font-size: 0.8rem;
  position: relative;
  padding-bottom: 5px;
}


.link-nav:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}




