.movieItem{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.movieFilter{
  height: 100%;
  background: linear-gradient(90deg, rgba(9,12,21,1) 0%, rgba(17,24,39,1) 35%, rgba(9,12,21,0.32816876750700286) 100%);
  backdrop-filter: blur(5px) saturate(110%) brightness(100%);
}


.movieContent{
  color: white;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;

  margin: 0 auto;
  h4{
    font-size: 3rem;
    font-weight: 700;
  }

  p{
    font-size: 0.9rem;
    max-width: 800px;
    line-height: 1.2rem;
    letter-spacing: 0.3px;
  }

  button{
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #f3f3f3;
    padding: 10px;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;

    &:hover{
      background: #f3f3f3;
      color: black;
      border-color: transparent;
      transition: 0.3s ease-out;
    }
  }

  .description{
    display: flex;
    align-items: center;
    gap: 1rem;

    li{
      // margin: 15px 0px 25px 0px;
      padding-right: 1rem;
      font-weight: 600;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        top: 7px;
        right: 0px;
        height: 0.8rem;
        border-right: 2px solid #e3e3e3;
      }

      &:last-child{
        &::before{
          display: none;
        }
      }
    }
  }
}
