.cartazHorizontal{
  width: 230px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    .filter{
      display: flex;
      animation: slideFromTop 0.5s ease-in-out;
    }
  }
}

.horizontalImg{
  position: relative;
  img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 130px;
    object-fit: cover;
  }
}

.filter{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  animation: slideFromTop 0.5s ease-in-out;
}

.horizontalInfo{
  text-align: center;
  color: #030303;
  font-size: 0.7rem;
  padding: 5px;
  background: #f3f3f3e5;
  border: 1px solid rgba($color: #f3f3f3, $alpha: 1);
  border-radius: 2px;
  letter-spacing: 1px;
  word-break: break-all;
  text-overflow: ellipsis;  
  overflow: hidden;
  height: 28px;
  max-width: 100%;
  white-space: nowrap;
}


@keyframes slideFromTop {
  0% {
    top: -200px;
  } 
  100% {
    top: 0;
  }
}