.episodes{
  padding: 40px 0px;
  width: 100%;
  margin: 0 auto;
}

.episodesWrapper{
  display: flex;
  padding: 20px 0px;
}

.episodesItem{
  width: 150px;
  height: 150px;
  border: 1px solid red;
}