@import './style.scss';

.header{
  padding: 20px 15px;
  background: #090C15;
  color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 40px -19px rgba(0,0,0,0.75);
  position: relative;
  z-index: 2000;

}

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
}

.logo{
  height: 50px;
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerNav{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 5.6rem;
  z-index: 1000;
  background: #111827;
  border-radius: 2px;
  box-shadow: 5px 2px 10px -3px rgba(48, 48, 101, 0.659);
  min-width: 100%;
  gap: 1.6rem;
  padding: 40px 10px;
  animation: fromTopSmooth 0.2s ease-in;

  li{
    display: flex;
    gap: 15px;
    align-items: center;
    letter-spacing: 1px;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e325;
  }

  @media (min-width: 680px) {
    flex-direction: row;
    position: unset;
    border-radius: unset;
    border: unset;
    background: unset;
    z-index: unset;
    gap: 3rem;
    padding: unset;
    font-size: unset;
    box-shadow: unset;
    min-width: unset;

    svg{
      display: none;
    }

    li{
      font-size: unset;
      border-bottom: unset;
      padding-bottom: unset;
    }
  }
}

.headerLinks{
  display: flex;
  align-items: center;
  gap: 20px;

  a{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

// .nav{
//   display: flex;
//   @media (min-width: 680px) {
//     display: flex;
//   }
// }

.btnMobile{
  @media (min-width: 680px) {
    display: none
  }
}