.homeSection {
  margin: 0 auto;
  padding: 60px 10px;
}

.homeGrid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-bottom: 40px;
}

.homeWrapperSlider {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #090c15;
}

.homeEpisodes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  .container {
    margin: 0 auto;
  }
}

.episodesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 0px;
  margin: 0 auto;
}


@media (min-width: 480px) {
  .homeGrid {
    grid-template-columns: 1fr 1fr;
  }

  .episodesWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 680px) {
  .homeGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .episodesWrapper{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 920px) {
  .homeGrid {
    grid-template-columns: repeat(4, 1fr);
  }
  .episodesWrapper{
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .homeGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
