.news{
  margin: 40px auto 40px auto;
}

.newsSlider{
  padding: 10px 0px;
}


@media screen and (min-width: 640px) {
  .swiper-wrapper{
    width: 640px;
    border: 1px solid red;
  }
}

@media screen and (min-width: 768px) {
  .swiper-wrapper {
    width: 768px;
    border: 1px solid blue;
  }
}