.topSection{
  display: flex;
  align-items: center;
  padding: 40px 0px;
  width: 100%;
}

.topGrid{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 auto;
}

.topContent{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
