body{
  display: flex;
  justify-content: center;
  /* padding-top: 5rem; */
  background: #111827;
  padding-bottom: 40px;
}

.title-main{
  font-size: 25px;
  letter-spacing: 2px;
  padding-bottom: 5px;
  position: relative;
  font-weight: 500;
  width: 100%;
  max-width: 650px;
  color: white;
}

.title-main::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid white;
  width: 20%;
}

.link-nav{
  color: white;
  font-size: 0.8rem;
  position: relative;
  padding-bottom: 5px;
}


.link-nav:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

