.title-main{
  font-size: 25px;
  letter-spacing: 2px;
  padding-bottom: 5px;
  position: relative;
  font-weight: 500;
  width: 100%;
  max-width: 650px;
  color: white;
}

.title-main::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid white;
  width: 20%;
}

.link-nav{
  color: white;
  font-size: 0.8rem;
  position: relative;
  padding-bottom: 5px;
}

.link-nav:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}




.notFound{
  height: 100%;
  width: 100%;
  height: 800px;
}

.notFound .top{
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}


.shell {
  background: lightgray;
}

.yellow {
  background: yellow;
}

.light-blue {
  background: skyblue;
}

.green {
  background: lightgreen;
}

.purple {
  background: purple;
}

.red {
  background: red;
}

.blue {
  background: blue;
}


.black {
  background: black;
}

.white {
  background: white;
}

.dark-blue { 
background: darkblue;
}




