@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Josefin+Sans:wght@500&family=Press+Start+2P&family=Raleway:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

html, body{
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}

body{
  background: #0D1117;
  padding: unset;
  height: 100%;
  position: relative;
}

.container{
  max-width: 1250px;
  padding: 0px 10px;
}

.title-main{
  font-size: 25px;
  letter-spacing: 2px;
  padding-bottom: 5px;
  position: relative;
  font-weight: 500;
  width: 100%;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.title-main::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    border-bottom: 2px solid #470047;
    width: 100%;
}

.description{
  padding: 15px 0px;
  opacity: 0.5;
  font-size: 0.8rem;
  color: white;
}

.cartaz-menu{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: #243054;
  border-radius: 5px;
  color: white;
  border: 1px solid #090C15;
  box-shadow: 10px 10px 40px -19px rgba(0,0,0,0.75);
}

.cartaz-menu__wrapper{
  display: flex;
  gap: 20px;
}

.cartaz-category{
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-right: 15px;
  cursor: pointer;
}

.cartaz-category:after{
  content: '▼';
  position: absolute;
  top: 5px;
  right: 0;
  opacity: 0.5;
  font-size: 0.5rem;
}

.cartaz-menu ul{
  position: absolute;
  top: 20px;
  flex-direction: column;
  gap: 5px;
  font-size: 0.7rem;
  text-transform: uppercase;
  cursor: pointer;
  background: #090C15;
  z-index: 10;
  padding: 10px 20px 10px 12px;
  border-radius: 5px;
}

.link-nav{
  font-size: 0.9rem;
  padding: 0px 10px;
  border-radius: 2px;
  color: white
}
.cartaz-menu li{
  padding-bottom: 5px;
  border-bottom: 1px solid #111827;
}

.cartaz-menu li:last-child{
  border-bottom: unset;
}

.activeItemMenu{
  color: #f08e43;
}

.slide-top{
  animation: slideFromTop 0.5s ease-in;
}

.slide-right{
  animation: slideFromRight 0.5s ease forwards;
}

.anima-opacity{
  animation: animaOpacity 0.5s ease forwards;
}

@keyframes slideFromTop {
  0% {
    top: -200px;
  } 
  100% {
    top: 0;
  }
}

@keyframes slideFromRight {
  0% {
    right: -200px;
  } 
  100% {
    right: 0;
  }
}

@keyframes animaOpacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}





