body{
  height: 100vh;
  display: flex;
  justify-content: center;
  /* padding-top: 5rem; */
  background: #111827;
  /* border: 1px solid red; */
}

.title-main{
  font-size: 25px;
  letter-spacing: 2px;
  padding-bottom: 5px;
  position: relative;
  font-weight: 500;
  width: 100%;
  max-width: 650px;
  color: white;
}

.title-main::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid white;
  width: 20%;
}

