.perfil{
  padding-top: 40px;
  width: 100%;
}

.perfilContent{
  display: flex;
  max-width: 920px;
  margin: 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: white;
  padding: 4rem 1rem;
  h3{
    padding: 15px 0px;
    font-size: 1.2rem;
  }
}

.perfilIntro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.perfilUser{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #f3f3f3;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 10px 10px 40px -19px rgba(0,0,0,0.75);
  border: 1px solid white;
  margin-bottom: 15px;

  img{
    object-fit: cover;
  }
}

.perfilGrid{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.perfilEdit{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;


  &::last-child{
  border-bottom: unset;
  }
}

